<ion-view title="Login" hide-back-button="false">
    <ion-content ng-if="('l'|translate)=='en'" class="has-header" scroll="false" has-bouncing="false">
        <section class="login-container">
            <div class="col">
                <img src="./img/logo.png" / style="
                height: 200px;
                width: 200px;
                ">
                <div class="list card padding">
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password">
                    </label>
                    <button ng-click="signIn(user)" class="button button-block button-positive activated">
                        Sign In
                    </button>
                    <button ng-click="reSet(user)" class="button button-block button-positive activated">
                        Reset My Password
                    </button>
                    </div>

                <div class="col">
                    Don't have account create new <strong><a href = "#/app/register">Sign Up now!</a></strong>
                </div>
            </section>
        </ion-content>
    </ion-view>