<ion-view title="{{'menu_event' | translate}}">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-image">
                <img ng-src="{{::edc.img2}}" fallback-src="img/renaissance.jpg">
            </div>
            <ion-item class="item-divider item-energized">{{'timePlace' | translate}}</ion-item>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-star energized"></i>
                <p>{{::edc.time}}</p>
                <h2>{{::edc.title}}</h2>
                <p ng-if="::edc.description!='null'">{{::edc.description}}</p>
            </div>
            <ion-item class="item-divider item-energized">{{'details' | translate}}</ion-item>
            <div ng-repeat="item in ::edc.details track by $index" class="item item-icon-left item-text-wrap">
                <i class="icon ion-load-c energized"></i>
                <p>{{::item.information}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>