<ion-view title="Hospital" hide-back-button="false">
    <ion-content>
        <ion-list>
            <div ng-repeat="item in ::ec.HospitalData track by $index" class="item-text-wrap">
                <ion-item ng-if="::item.divider!='null'" class="item-divider item-energized">{{::item.divider}}</ion-item>
                <ion-item ng-if="::item.details=='null'" class="item-thumbnail-left">
                    <img src="img/help.jpg" fallback-src="img/help.jpg">
                    <p>{{::item.time}}</p>
                    <h2>{{::item.title}}</h2>
                    <p ng-if="::item.description!='null'">{{::item.description}}</p>
                </ion-item>
                <ion-item ng-if="::item.details!='null'" ng-href="#/app/events/{{ec.day}}/{{item.description}}/{{item.details}}/{{item.time}}/{{item.title}}/{{item.img}}/{{item.img2}}" class="item-thumbnail-left item-icon-right">
                    <img src="img/map.jpg" fallback-src="img/map.jpg" href="#/app/map">
                    <p>{{::item.time}}</p>
                    <h2 class="text-left item-text-wrap">{{::item.title}}</h2>
                    <p ng-if="::item.description!='null'">{{::item.description}}</p>
                    <i ng-if="::item.details!='null'" class="icon ion-chevron-right energized"></i>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>