<ion-view title="Individual" hide-back-button="false">
    <ion-content>
        <ion-list>
            <div ng-repeat="item in ::ec.kitOwners track by $index" class="item-text-wrap">
                <ion-item ng-if="::item.name != 'null'" class="item-divider item-energized">{{::item.name}}
                </ion-item>
                <ion-item ng-if="::item.email !=='null'" class="item-thumbnail-left">
                    <img src="img/logo.png">
                    <p>{{::item.name}}</p>
                    <h2>{{::item.email}}</h2>
                    <a href="tel:{{item.mobile}}">Call: {{::item.mobile}}</a>
                    <p ng-if="::item.address!='null'">{{::item.address}}</p>
                    <a href="" ng-click="ec.sendhelp(item)" >Send Help Request<i class="icon ion-person-add energized"></i></a> 
                </ion-item>
                <ion-item ng-if="::item.details!='null'"  class="item-thumbnail-left item-icon-right">
                    <img src="img/map.jpg" fallback-src="img/map.jpg" href="#/app/map">
                    <p>Location</p>
                    <h2 class="text-left item-text-wrap">{{::item.latitude}}</h2>
                    <p ng-if="::item.longitude!='null'">{{::item.longitude}}</p>
                    <i ng-if="::item.longitude!='null'" class="icon ion-chevron-right energized"></i>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
