<ion-view title="{{'app_name' | translate }}">
    <ion-content ng-if="('l'|translate)=='en'" class="has-header" scroll="false" has-bouncing="false">
        <div class="item imageContainer item-image">
            <a class="pict" href="#/app/events/day1/day1">
                <img src="img/03.jpg">
            </a>
        </div>
        <div class="item item-image imageContainer">
            <a class="pict" href="#/app/map">
                <img  src="img/01.jpg">
            </a>
        </div>
        <div class="item item-image imageContainer2">
            <a class="pict" href="#/app/renaissance">
                <img src="img/02.jpg" >
            </a>
        </div>
    </ion-content>
    <ion-content ng-if="('l'|translate)=='hr'" class="has-header" scroll="false" has-bouncing="false">
        <div class="item imageContainer item-image">
            <a class="pict"  href="#/app/events/day1/day1">
                <img  src="img/programHR.jpg" >
            </a>
        </div>
        <div class="item item-image imageContainer">
            <a class="pict" href="#/app/map">
                <img  src="img/mjestoHR.jpg">
            </a>
        </div>
        <div class="item item-image imageContainer2">
            <a class="pict" href="#/app/renaissance">
                <img src="img/renesansaHR.jpg" >
            </a>
        </div>
    </ion-content>
</ion-view>