<ion-view title="{{'menu_kit' | translate }}">
    <ion-content ng-if="('l'|translate)=='en'" class="has-header" scroll="false" has-bouncing="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
				<span class="input-label">Full Name</span>
				<input ng-model="user.fname" type="text" placeholder="John">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Contact No</span>
				<input ng-model="user.mob"  type="text" placeholder="(555) 555-1234">
			</label>
            <label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input ng-model="user.email"  type="text" placeholder="john@suhr.com">
				  <ion-checkbox ng-model="user.location">Share location</ion-checkbox>
			</label>
            <button class="button button-full button-positive" ng-click="createUser(user)">Add My Kit</button>

        </div>
    </ion-content>
</ion-view>